<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="example-button-container">

      <a mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/"><mat-icon>home</mat-icon> </a>

    </div>

    <span class="spacer"></span>
    <span class="spacer"></span>
    <a mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/create" routerLinkActive=""><mat-icon>+</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
